* {
    font-family: 'Sniglet', cursive;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    background: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    height: 100vh;
    position: relative;
}

.countdown-col {
    background: url(bg.png) no-repeat center;
    background-size: cover;
}

.time {
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    display: flex;
    justify-content: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.time span {
    padding: 0 14px;
    font-size: 45px;
    font-weight: bold;
}

.link {
    color: #202020;
    font-size: 16px;
    font-weight: bold;
}

.link:hover {
    color: #2b4d74;
    font-size: 18px;
    font-weight: bolder;
}


/*.time span div {
    font-size: 22px;
}*/

.metin {
    color: #ffffff;
    font-size: 17px;
}

.newsletter {
    width: 90%;
}

.newsletter h4 {
    font-style: italic;
    font-size: 12px;
}

.newsletter input {
    display: block;
    margin: 12px auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
}

.newsletter-btn {
    background: linear-gradient(125deg, #3498db, #34495e);
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.newsletter-btn:hover {
    opacity: .7;
}

@media screen and (max-width :900px) {
    .col {
        flex: 100%;
    }
}